@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');

body{
    background-color: hsl(62, 52%, 90%);
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
    margin: 0 auto;

    min-width: 530px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

}
body>*{
    padding: 0 40px;
}
body>div{
    padding-bottom: 3em;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(245, 100%, 8%);
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    cursor: default;
    font-weight: bold;
}
#logo{
    transition-duration: 1000ms;
}
#logo:hover{
    transform: scale(1.3) rotate(1turn);

}
nav ul{
    display: flex;
    flex-direction: row;
    flex-basis: max-content;
    justify-content: space-around;
    gap: 5px;
    list-style-type: none;
    /*padding-left: 0;*/
    min-width: 40%;

}
nav ul li{
    /*background-color: hsl(359, 28%, 70%);*/
    padding: 1em;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
}
nav li a{
    text-decoration: none;
    color: #fff;
}
nav li a:hover{
    color: hsl(60, 14%, 90%);
}
nav li:hover{
    border-color: hsl(60, 14%, 90%);
}
nav li, nav a{
    cursor: pointer;
}
header{
    color: hsl(245, 100%, 8%);
    padding: 1em 0;
}
main ul{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    /*justify-content: center;*/
    justify-content: space-between;
    /*gap: 60px;*/
    gap: 10px;


    max-width: 1025px;
    margin: 0 auto;
}
main li{
    padding: 10px;
    background-color: hsl(359, 40%, 59%);

    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-basis: 280px;
    flex-shrink: 1;
    height: 350px;

    overflow: hidden;

}
footer{
    padding-top: 1em;
    padding-bottom: 1em;
    color: #151E3F;
    text-align: left;
}