/* --------- VERANDER NIETS IN DIT BESTAND ----------*/

hr {
    margin: 40px 0;
}

body {
    max-width: 1200px;
}

.one {
    background-color: mediumpurple;
    color: white;
    width: 350px;
    height: 350px;
    padding: 16px;
}

form {
    width: 400px;
    height: 200px;
    background-color: lightgreen;
}

form label {
    margin: 10px 0;
    width: 200px;
}

article {
    background-color: orange;
    color: white;
    padding: 20px;
}